<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Character-Idle (6)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{21,27}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,27}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Character-Idle (10)</key>
      <dict>
        <key>frame</key>
        <string>{{0,27},{21,26}}</string>
        <key>offset</key>
        <string>{0.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{21,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Character-Idle (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,53},{21,26}}</string>
        <key>offset</key>
        <string>{0.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{21,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Character-Idle (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,79},{21,25}}</string>
        <key>offset</key>
        <string>{0.5,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,7},{21,25}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Character-Idle (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{21,25}}</string>
        <key>offset</key>
        <string>{0.5,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,7},{21,25}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Character-Idle (11)</key>
      <dict>
        <key>frame</key>
        <string>{{0,27},{21,26}}</string>
        <key>offset</key>
        <string>{0.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{21,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Character-Idle (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{21,25}}</string>
        <key>offset</key>
        <string>{0.5,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,7},{21,25}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Character-Idle (5)</key>
      <dict>
        <key>frame</key>
        <string>{{0,53},{21,26}}</string>
        <key>offset</key>
        <string>{0.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{21,26}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Character-Idle (7)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{21,27}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,27}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Character-Idle (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{21,27}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,27}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>Character-Idle (9)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{21,27}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,27}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Character-Idle.png</string>
      <key>size</key>
      <string>{21,129}</string>
      <key>textureFileName</key>
      <string>Character-Idle</string>
    </dict>
  </dict>
</plist>
